---
---
$base-font-size: 18px;
$small-font-size: 0.75rem;

$font-family-serif: Georgia, serif;
$font-family-sans: Helvetica Neue, Helvetica, Arial, sans-serif;

$link-color: #5291ff;
$dark-gray: #222222;
$light-gray: lighten($dark-gray, 30%);
$lighter-gray: lighten($dark-gray, 50%);
$yellow: #ffce00;

// preserve some sanity
html {
  font-size: $base-font-size;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
  font-family: $font-family-sans;
  line-height: 1.4;
  color: $dark-gray;
  margin: 0;
}

// Type
h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: .5rem;

  font-family: $font-family-sans;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  color: $link-color;
}

h3 {
  margin-top: 1rem;
  margin-bottom: .2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

small {
  font-size: $small-font-size;
}

code {
  background-color: #e0e0e0;
  padding: .2rem;
}

.text-muted {
  color: $lighter-gray;
}

p.lead {
  margin: 2rem 0;
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: $font-family-serif;
  text-align: left;
}

p.article-meta {
  font-size: ($base-font-size * .9);
}

// figures and images

img {
  width: 100%;
  padding: .3rem;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 .5rem #d0d0d0;
}

figure {
  padding-bottom: 1rem;
}

figure img {
  cursor: zoom-in;
}

figcaption {
  font-family: $font-family-sans;
  font-size: $small-font-size;
  color: $light-gray;
}

// Layout
.container {
  max-width: 54rem;
  margin: 0 auto;
}

article {
  text-align: left;
  font-family: $font-family-serif;
  line-height: 1.6;

  padding-left: 4rem;
  width: 42rem;
}

// footer
footer {
  font-size: $small-font-size;
  background-color: $dark-gray;
  color: $lighter-gray;
  min-height: 234px;
  overflow: hidden;
  padding: 2rem 0;
  text-align: left;
  margin-top: 2rem;

  a {
    color: inherit;
    font-weight: bold;
  }
}

.footer-links {
  li {
    list-style-type: none;
    height: 2rem;
    margin: .5rem 0;

    a {
      display: inline-block;
      padding: 7.5px 15px;
      line-height: 1;
    }
  }
}

.link-logo {
  max-width: 2rem;
  float: left;
}

svg#elias-heading {
  max-width: 24rem;
  margin: 3rem auto;

  path {
    fill: $dark-gray;

    &:hover {
      fill: $yellow;
    }
  }
}

// Main page
nav.main-nav {
  padding: 15px;
  margin-bottom: 40px;

  a {
    padding: 0px 7px;
  }
}

ul#blog-nav {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    padding-top: .3rem;
  }
}

nav.top-nav {
    margin-top: 2rem;
    text-align: left;
    font-family: $font-family-serif;

    a {
        color: $lighter-gray;
    }
}

// helper classes
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

@media (max-width: 54rem) and (min-width: 34rem) {
  .container {
    padding: 0 1rem;
    width: 100%;
  }

  article {
    width: 100%;
    padding-left: 2rem;
  }
}

@media (max-width: 34rem) {
  .container {
    padding: 0 1rem;
    width: 100%;
  }

  article {
    width: 100%;
    padding-left: 0;
  }
}

// fooooorms!
form {
  margin: 2rem auto;
}

input {
  height: 1.7rem;
  font-size: 1rem;
}
