---
---
@import url(http://fonts.googleapis.com/css?family=Arvo:700|PT+Sans:400,700,400italic,700italic);

body {
  text-align: center;
}

article {
  text-align: left;
}

div#hero {
  margin: 50px;
}

div#main {
  margin-top: 50px;
}

#homelink {
  text-decoration: none;
  color: inherit;
}

div#circle {
  border-radius: 80px;
  background-color: #222;
  width: 160px;
  height: 160px;
  margin: 0px auto 30px auto;
}

nav {
  padding: 15px;
  margin-bottom: 40px;
  font-size: 1.8rem;

  a {
    padding: 0px 7px;
  }
}

#blog-nav li {
  list-style-type: none;
}

.post-footer {
  border-top: 1px solid #aaa;
  margin: 20px 0px;
  padding: 10px 0px;
  color: #888888;
}

@import "skeleton";
