body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #fff;
    text-align: center;
    background: url("../img/bg.jpg") #666 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 100px 0px;
}

h1 {
    font-weight: 300;
    font-size: 49px;
}

a {
    color: white;
    font-weight: normal;
    text-decoration: none;
}
