<footer>
  <div class="container">
    <div class="pull-left">
      <p><a href="https://knifecake.github.io/apuntes/">Apuntes Uni</a> · <a
            href="https://b2a.hernandis.me">Apuntes 2º Bach</a> · <a
            href="/rcsmm">RCSMM espacios</a> · <a href="/scorekeeper.html">scorekeeper</a></p>
      <p>Currently: <a
         href="http://www.uam.es/ss/Satellite/EscuelaPolitecnica/es/estudios/grado-3/Page/contenidoFinal/doble-grado-en-ingenieria-informatica-y-matematicas-3.htm">Ingeniería
         Informática y Matemáticas @ UAM.</a></p>
      <p>Say hi on <a href="https://twitter.com/eliashernandis">Twitter</a>
      or check out some projects I'm working on on <a
      href="https://github.com/knifecake">GitHub</a>.
    </div>
    <div class="pull-right">
      <p>{{ site.author }}, {{ site.time | date: '%Y' }}.</p>
      <p>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Some rights reserved.</a>
      </p>

      <p>Something to say: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      <p><a href="{{ site.url }}/feed.xml">RSS</a></p>
    </div>
  </div>
</footer>
