div.hero {
  height: 100vh;
  padding: $spacing-unit;
  position: relative;
  box-sizing: border-box;
  background: url("../img/bg.jpg") center / cover;

  header {
    position: absolute;
    bottom: 0px;
  }

  p.down-caret {
    display: block;
    position: absolute;
    bottom: -$spacing-unit / 2;
    left: 0px;
    right: 0px;

    a:hover {
      border-bottom: none;
    }
  }
}

nav {
  height: 22px;
  background-color: $background-color-alt;
  padding: $spacing-unit / 2 0px;

  ul {
    margin: 0px;
    
    li {
      display: inline;
      list-style-type: none;
      padding: 0px $spacing-unit;

      &:not(:first-child) {
        border-left: 1px solid $text-color;
      }

      a {
        color: $text-color;
      }
    }
  }
}

