body {
  text-align: center;
  font-family: $font-family-sans;
  line-height: 1.4;
  color: $dark-gray;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: .5rem;

  font-family: $font-family-sans;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  color: $link-color;
}

h3 {
  margin-top: 1rem;
  margin-bottom: .2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

small {
  font-size: $small-font-size;
}

code {
  background-color: $lightest-gray;
  padding: .2rem;
}

.text-muted {
  color: $light-gray;
}

p.lead {
  margin: 2rem 0;
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: $font-family-serif;
  text-align: left;
}

p.article-meta {
  font-size: ($base-font-size * .9);
}

abbr {
  border-bottom: 1px dotted $light-gray;
}

p.warning {
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: lighten($yellow, 30%);
  border: 1px solid $yellow;
  box-shadow: 0 0 2px $yellow;
  // font-family: $font-family-sans;
}

@media(max-width: $mobile-breakpoint) {
  p.warning {
    margin-left: 0;
    margin-right: 0;
  }
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 5px solid $lightest-gray;
}

div.footnotes {
  border-top: 1px solid $lightest-gray;
}
