<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <header>
        {% include elias.html %}
      </header>

      <section class="content">
        <h1>{{ page.title }}</h1>
        <p class="article-meta text-muted"><small>by</small> {% if page.author %} {{
        page.author }}{% else %}{{ site.author }}{% endif %} &bull; {{ page.date | date_to_long_string }}</p>

        {% if page.abstract %}
          <!-- abstract -->
          <p class="lead">{{ page.abstract }}</p>
        {% endif %}

        <article>

          {{ content }}

        </article>
      </section>
    </div>
    <footer>
      <div class="container">
        <div class="pull-left">
          <p>{{ site.author }}, {{ site.time | date: '%Y' }}.</p>
          <p>Currently: <a
             href="http://www.uam.es/ss/Satellite/EscuelaPolitecnica/es/estudios/grado-3/Page/contenidoFinal/doble-grado-en-ingenieria-informatica-y-matematicas-3.htm">Ingeniería
             Informática y Matemáticas @ UAM.</a></p>
          <p>Say hi on <a href="https://twitter.com/eliashernandis">Twitter</a>
          or check out some projects I'm working on on <a
          href="https://github.com/knifecake">GitHub</a>.
        </div>
        <div class="pull-right">
          <p>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Some rights reserved.</a>
          </p>

          <p>Something to say: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </div>
      </div>
    </footer>
  {% include analytics.html %}
  </body>
</html>
