<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <header>
          <a href="{{ site.url }}" id="homelink">
            <div id="circle">&nbsp;</div>
          </a>
      </header>

      <section class="content">
        <h1>{{ page.title }}</h1>
        <p class="article-meta"><small>by</small> <b>Elias Hernandis</b> &bull; {{ page.date | date_to_long_string }}</p>

        {% if page.abstract %}
          <!-- abstract -->
          <p class="lead">{{ page.abstract }}</p>
        {% endif %}

        <article>

          {{ content }}

        </article>
      </section>
    </div>
  </body>
</html>
