<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <nav class="np-posts"><a href="{{ site.url }}">&laquo; Go back</a></nav>
      <section class="content">
        <h1>{{ page.title }}</h1>
        <p class="article-meta text-muted"><small>by</small> {% if page.author %} {{
        page.author }}{% else %}{{ site.author }}{% endif %} &bull; {{ page.date | date_to_long_string }}</p>

        {% if page.abstract %}
          <!-- abstract -->
          <p class="lead">{{ page.abstract }}</p>
        {% endif %}

        <article>

          {{ content }}

          <nav class="np-posts">
            {% if page.previous %}
              <a href="{{ page.previous.url }}">&laquo; Previous post</a>
            {% endif %}
            {% if page.next %}
              <a style="float: right" href="{{ page.next.url }}">Next post &raquo;</a>
            {% endif %}
          </nav>
        </article>
      </section>
    </div>
  {% include footer.html %}
  {% include scripts.html %}
  </body>
</html>
